* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 0;

}

.container {
    max-width: 90%;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
}

.searchbox {
    border-radius: 7px;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 8px;
    background-color: #f0f5ff;
}

.searchbox input {
    border: none;
    width: 100%;
    background-color: #f0f5ff;
    font-size: 19px;
    outline: none;
}

.searchbox input::placeholder {
    font-weight: lighter;
    color: #66667a;
}

.rightnav ul li a {
    text-wrap: nowrap;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border-radius: 8px;

}

.rightnav ul li a i {
    margin-right: 5px;
}

.rightnav ul li a.login-btn:hover {
    background-color: #2874f0;
    color: white;

}

.rightnav ul li a.login-btn:hover img {
    filter: invert(100%) sepia(69%) saturate(0) hue-rotate(132deg) brightness(114%) contrast(101%);

}

.rightnav ul li a.login-btn:hover img:last-child {
    filter: invert(100%) sepia(69%) saturate(0) hue-rotate(132deg) brightness(114%) contrast(101%);
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
.dropdown-list ul li{
    list-style: none;
}
.dropdown-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid ;
}
#black{
    color: #2874f0;
}
.profile-dropdown{
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    min-width: 230px;
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.login-btn-wrp{
    position: relative;
}
.login-btn-wrp:hover .profile-dropdown{
    visibility: visible;
    opacity: 1;

}
.dropdown-list2 ul li{
    list-style: none;
}
.dropdown-list2{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 230px;

}
.ddbox:hover .dropdown-list2{
    visibility: visible;
    opacity: 1;
}

.ddbox{
    position: relative;
}