* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 0;

}

.container {
    max-width: 90%;
    margin: auto;
    background-color: white;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
}

.searchbox {
    border-radius: 7px;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 8px;
    background-color: #f0f5ff;
}

.searchbox input {
    border: none;
    width: 100%;
    background-color: #f0f5ff;
    font-size: 19px;
    outline: none;
}

.searchbox input::placeholder {
    font-weight: lighter;
    color: #66667a;
}

.rightnav ul li a {
    text-wrap: nowrap;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border-radius: 8px;

}

.rightnav ul li a i {
    margin-right: 5px;
}

.rightnav ul li a.login-btn:hover {
    background-color: #2874f0;
    color: white;

}

.rightnav ul li a.login-btn:hover img {
    filter: invert(100%) sepia(69%) saturate(0) hue-rotate(132deg) brightness(114%) contrast(101%);

}

.rightnav ul li a.login-btn:hover img:last-child {
    filter: invert(100%) sepia(69%) saturate(0) hue-rotate(132deg) brightness(114%) contrast(101%);
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
.dropdown-list ul li{
    list-style: none;
}
.dropdown-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid ;
}
#black{
    color: #2874f0;
}
.profile-dropdown{
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    min-width: 230px;
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.login-btn-wrp{
    position: relative;
}
.login-btn-wrp:hover .profile-dropdown{
    visibility: visible;
    opacity: 1;

}
.dropdown-list2 ul li{
    list-style: none;
}
.dropdown-list2{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 230px;

}
.ddbox:hover .dropdown-list2{
    visibility: visible;
    opacity: 1;
}

.ddbox{
    position: relative;
}
.verticaldot{
    border: 1px solid #fff;
}
.verticaldot:hover{
    background-color: #f1f2f4;
    border: 0.5px solid rgb(177, 176, 176);
}
img {
  height: 100%;
  object-fit: cover;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
.owl-item {
  height: 300px !important; /* Adjust this value as needed */
  display: flex;
}
.item {
    width: 100%;
}
.category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.category div a{
    text-decoration: none;
}
.category div a p{
    color: #333;
    text-decoration: none;
}
main{
    background-color: #f1f2f4;
    padding: 15px;
}
.catergory-wrp{
    margin-bottom: 15px;
    background-color: #fff;
    padding: 20px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thing{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    height: 150px;
    width: 225px;
    padding: 50px 25px;
}
.container1{
    background-color: white;
    height: auto;
    padding: 15px;
}
